<!DOCTYPE html>

<html>

  <head>
    <title>URL Shortener Microservice</title>
    <link rel="shortcut icon" href="favicon-32x32.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <div>
              <label for="url_input">URL</label>
              <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
              <button type="submit">POST URL</button>
            </div>
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>
        By <a href="https://github.com/mat2ja" target="_blank">Matija</a>
      </p>
    </footer>

  </body>

</html>