<!DOCTYPE html>

<html>

  <head>
    <title>URL Shortener Microservice</title>
    <link rel="shortcut icon" href="favicon-32x32.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST" class="form-og">
          <fieldset>
            <legend>Short your url</legend>
            <div>
              <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" class="mono" />
              <button type="submit">POST URL</button>
            </div>
          </fieldset>
        </form>
      </section>
      <form id="form-short">
        <fieldset>
          <legend>Find your url</legend>
          <div>
            <input id="url_input" type="text" name="url" placeholder="3" class="mono" />
            <button type="submit">FIND URL</button>
          </div>
        </fieldset>
      </form>
      </section>
      <section class="example-wrapper">
        <div class="example">
          <h4>Example usage:</h4>
          <a href="/api/shorturl/2" target="_blank" class="mono">/api/shorturl/2</a>
          <h4>redirects to ↓</h4>
          <p class="mono"></p>
          <a href="https://github.com/mat2ja" target="_blank" class="mono">https://github.com/mat2ja</a>
        </div>
      </section>
    </main>
    <footer>
      <p>
        By <a href="https://github.com/mat2ja" target="_blank">Matija</a>
      </p>
    </footer>

    <script>
      const formShort = document.querySelector('#form-short')
      formShort.addEventListener('submit', (e) => {
        e.preventDefault()
        const shortUrl = formShort.querySelector('input').value.trim()
        window.location.href = `/api/shorturl/${shortUrl}`
      })
    </script>

  </body>

</html>