* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 100%;
}

:root {
	--color-primary: #ff6e40;
	--color-primary-light: #ff9e80;
	--color-primary-opaque: #ff6e4033;
	--bg-primary: #263238;
	--bg-secondary: #37474f;
	--text-primary: #eceff1;
}

*::selection {
	background: var(--bg-secondary);
	color: var(--color-primary-light);
}

body {
	font-size: 1.6rem;
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--text-primary);
	background-color: var(--bg-primary);
	text-align: center;
	line-height: 1.4em;
	padding: 2rem 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

main {
	padding: 2rem 0;
	height: 100%;
}

h1 {
	background: var(--bg-secondary);
	color: var(--color-primary-light);
	line-height: 1.2;
	font-size: 1.8em;
	display: inline-block;
	width: auto;
	margin: 0 auto;
	padding: 0 0.4rem;
	border-radius: 2px;
	transform: rotate(-2deg);
}

.user-stories li {
	margin-bottom: 1em;
}

a {
	color: #2574a9;
}

form {
	margin-top: 2rem;
	margin: 10px auto;
	padding: 1em;
	max-width: 600px;
	transform: rotate(2deg);
}

fieldset {
	padding: 1rem;
	border: 2px solid var(--bg-secondary);
	border-radius: 2px;
}

legend {
	padding: 0 1rem;
	font-size: 1rem;
	line-height: 1.6;
	background: var(--color-primary-light);
	color: var(--bg-primary);
	text-transform: uppercase;
	border-radius: 10000px;
	font-weight: bold;
}

input {
	border-radius: 2px;
	border: none;
	background: var(--bg-secondary);
}

label {
	margin-right: 10px;
}

form button {
	background: var(--color-primary-light);
	color: var(--bg-primary);
	border: none;
	padding: 0.25rem 1rem;
	cursor: pointer;
	border-radius: 2px;
	font-weight: bold;
}

form button:hover {
	background: var(--color-primary);
}

input {
	padding: 5px;
	color: var(--text-primary);
	flex: 1;
	font-size: 1rem;
}

input:focus {
	border-color: var(--color-primary);
	outline-color: red;
	box-shadow: none;
}

fieldset > div {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.example-wrapper {
	padding: 1rem;
	max-width: 600px;
	margin: 2rem auto 0;
}

.example {
	border: 2px solid var(--bg-secondary);
	transform: rotate(-2deg);
	font-size: 1.6rem;
	border-radius: 2px;
	padding: 1rem;
}

a {
	color: var(--color-primary);
	display: inline-block;
}

a:hover {
	color: var(--color-primary-light);
}

.mono {
	font-family: 'IBM Plex Mono', monospace;
}

.example .mono {
	margin: 0.75rem 0;
}

.example .mono:last-of-type {
	color: var(--color-primary-light);
}

h4 {
	font-size: 1.2rem;
	text-transform: uppercase;
}

footer {
	margin-top: auto;
}

footer a {
	background: var(--color-primary-opaque);
	color: var(--color-primary-light);
	padding: 0 0.25em;
	text-decoration: none;
}

footer a:hover {
	background: var(--bg-secondary);
}

@media only screen and (max-width: 500px) {
	a {
		font-size: 1.2rem;
	}

	label {
		display: none;
	}

	fieldset > div {
		flex-direction: column;
	}

	form input {
		padding: 0.75rem;
	}

	form button {
		padding: 0.75rem;
	}
}
